* {
    margin: 0;
    padding: 0;
}

.Cart-container {
    margin: 2em auto;
    padding: 10px;
    width: 80vw;
    background-color: rgb(67, 146, 231);
    border-radius: 20px;
    min-height: 85vh;
    -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
}

#shopping-cart-icon {
    width:50px;
    height: 50px;
}

.No-empty-cart {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.Products-list{
    overflow: scroll ;
    overflow-x: hidden;
    height: 60vh;
}

.Products-list::-webkit-scrollbar {
    width: 0.5em;
}
.Products-list::-webkit-scrollbar-thumb {
    background-color: #0962C0 ;
}

.Price {
    margin-top: 10px;
    text-align: right;
    margin-right: 10%;
    font-weight: bolder;
}

.Sub-total-price {
    font-size: 16px;
}

.Total-price > h1 >span{
    color: #a83939;
}

.Shipping-options {
    margin-left: auto;
    display: flex;
    margin-top: 10px;
    text-align: right;
    margin-right: 10%;
}
.Shipping-options > * {
    margin-right: 10px;
}

.Shipping-options-form {
    display: flex;
    flex-direction: column;
}
.Shipping-options-form >* {
    text-align: left;
    margin-top: 5px;
}

.Product-container{
    min-height: 150px;
    margin: 20px 0;
    border-radius: 15px 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.Product-container:hover {
    border: 2.5px solid #FF5555;
}


.Product-image {
    margin: 0 2em;
    width: 100px;
    height: 100px;
}
.images{
    width: 100px;
    height: 100px;
}
.Product-info > #name {
    font-weight: bold;
    font-size: 20px;
}

.Product-info > #seller {
    color: #066477;
}

.Product-mount {
    margin-left: auto;
    display: flex;
    margin-right: 10px;
    width: 15%;
    justify-content: space-around;
    align-items: center;
}

.icons-buttons{
    width: 50px;
    height: 50px;
}

.Product-price {
    width: 10%;
}

.Empty-cart {
    height: 60vh;
    text-align: center;
}

.Empty-cart >img {
    width: 200px;
    height: 200px;
}

.Empty-cart > * {
    margin:  20px 0;
}