* {
    margin: 0;
    padding: 0;
}

.Cart-container {
    margin: 2em auto;
    padding: 10px;
    width: 80vw;
    background-color: rgb(67, 146, 231);
    border-radius: 20px;
    height: 85vh;
}

#shopping-cart-icon {
    width:50px;
    height: 50px;
}

.No-empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;
}

.Products-list{
    overflow: scroll ;
    overflow-x: hidden;
    height: 60vh;
    margin-bottom: auto;
}

.Products-list::-webkit-scrollbar {
    width: 0.5em;
}
.Products-list::-webkit-scrollbar-thumb {
    background-color: #0962C0 ;
}

.Total-price {
    text-align: right;
    margin-right: 10%;
}

.Product-container {
    min-height: 150px;
    margin: 20px 0;
    border-radius: 15px 50px;
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
}

img {
    margin: 0 20px;
    width: 100px;
    height: 100px;
}

.Product-info > #name {
    font-weight: bold;
    font-size: 20px;
}

.Product-info > #seller {
    color: #066477;
}

.Product-mount {
    margin-left: auto;
    display: flex;
    margin-right: 5px;
    width: 10%;
    justify-content: space-around;
}

.Product-price {
    width: 10%;
}

.Empty-cart {
    height: 60vh;
    text-align: center;
}

.Empty-cart > * {
    margin:  20px 0;
}